goldbillingui/designs/services/HTTPService.json
[
    {
        "id": "sd_qp1n840XhLHxXRUW",
        "type": "tab",
        "createdDate": "2023-05-01T12:27:41.542Z",
        "label": "HTTPService",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "tabType": "client",
        "generateNext": true,
        "serviceName": "HTTPService",
        "relativeParentPath": ""
    },
    {
        "id": "sd_ZjZwWFbxVVMtewVh",
        "type": "Start",
        "z": "sd_qp1n840XhLHxXRUW",
        "viewType": "client-server",
        "nodeType": "start",
        "name": "",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "body",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            },
            {
                "key": "method",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            },
            {
                "key": "result",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": true
            },
            {
                "key": "url",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            },
            {
                "key": "params",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "accept_bh": false,
        "functionName": "sd_ZjZwWFbxVVMtewVh",
        "category": "General",
        "x": 160,
        "y": 140,
        "wires": [
            [
                "sd_loVSBkXDPxXV7DYh"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "HTTPService"
    },
    {
        "id": "sd_loVSBkXDPxXV7DYh",
        "type": "Script",
        "z": "sd_qp1n840XhLHxXRUW",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.input.url =  bh.system.environment.properties.ssdURL + bh.input.url;",
        "functionName": "sd_loVSBkXDPxXV7DYh",
        "category": "Function",
        "x": 345,
        "y": 140,
        "wires": [
            [
                "sd_cPatTDhO6CHmYUvc"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "HTTPService",
        "generated": true
    },
    {
        "id": "sd_cPatTDhO6CHmYUvc",
        "type": "HttpRequest",
        "z": "sd_qp1n840XhLHxXRUW",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "",
        "methodMapping": "bh.input.method",
        "methodMappingObj": {
            "mapVarType": "bh.input",
            "mapVarValue": "method"
        },
        "urlMapping": "bh.input.url",
        "urlMappingObj": {
            "mapVarType": "bh.input",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": true,
        "reqBody": "bh.input.body",
        "reqBodyObj": {
            "mapVarType": "bh.input",
            "mapVarValue": "body"
        },
        "resultMapping": "bh.input.result",
        "resultMappingObj": {
            "mapVarType": "bh.input",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": [],
        "paramsObj": {},
        "paramMapping": "bh.input.params",
        "paramMappingObj": {
            "mapVarType": "bh.input",
            "mapVarValue": "params"
        },
        "functionName": "sd_cPatTDhO6CHmYUvc",
        "category": "HTTP",
        "x": 520,
        "y": 140,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "HTTPService",
        "generated": true
    },
    {
        "id": "sd_RmwQsThaffmlh2U7",
        "type": "Catch",
        "z": "sd_qp1n840XhLHxXRUW",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "selectedNodes": [
            "sd_cPatTDhO6CHmYUvc",
            "sd_h6dijSV94vuimpIv"
        ],
        "selectCatchType": "selectednodes",
        "masternodeList": "",
        "ignoreList": "",
        "functionName": "sd_RmwQsThaffmlh2U7",
        "category": "General",
        "x": 225,
        "y": 480,
        "wires": [
            [
                "sd_2YyzLvqNAwZCeSca"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "HTTPService"
    },
    {
        "id": "sd_rvNI4WmvPzBrpwp6",
        "type": "Navigation",
        "z": "sd_qp1n840XhLHxXRUW",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "path": "/login",
        "pathMap": "",
        "pathparams": "",
        "pathparamsMap": "",
        "qparams": "",
        "qparamsMap": "",
        "qparamsArray": "",
        "resultMapping": "",
        "functionName": "sd_rvNI4WmvPzBrpwp6",
        "category": "Navigation",
        "x": 505,
        "y": 440,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "HTTPService",
        "generated": true
    },
    {
        "id": "sd_2YyzLvqNAwZCeSca",
        "type": "Switch",
        "z": "sd_qp1n840XhLHxXRUW",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "error.error.message",
        "propertyType": "bh",
        "propertyGv": "bh.error.error.message",
        "rules": [
            {
                "t": "se",
                "v": "Session not present",
                "vt": "str",
                "gv": "\"Session not present\""
            },
            {
                "t": "eq",
                "v": "AdminLogin",
                "vt": "str",
                "gv": "\"AdminLogin\""
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_2YyzLvqNAwZCeSca",
        "category": "Function",
        "x": 365,
        "y": 480,
        "wires": [
            [
                "sd_rvNI4WmvPzBrpwp6"
            ],
            [
                "sd_Mx7fp620XUMVcfB4"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "HTTPService",
        "generated": true
    },
    {
        "id": "sd_EGT9Ia09cyUunsrk",
        "type": "Start",
        "z": "sd_qp1n840XhLHxXRUW",
        "viewType": "client-server",
        "nodeType": "start",
        "name": "routesCheck",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "accept_bh": false,
        "functionName": "routesCheck",
        "category": "General",
        "x": 165,
        "y": 360,
        "wires": [
            [
                "sd_A31BVKwx1DoLED06"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "HTTPService"
    },
    {
        "id": "sd_h6dijSV94vuimpIv",
        "type": "HttpRequest",
        "z": "sd_qp1n840XhLHxXRUW",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "get",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.input.url",
        "urlMappingObj": {
            "mapVarType": "bh.input",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": true,
        "reqBody": "",
        "reqBodyObj": {
            "mapVarType": "bh",
            "mapVarValue": ""
        },
        "resultMapping": "bh.input.check",
        "resultMappingObj": {
            "mapVarType": "bh.input",
            "mapVarValue": "check"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_h6dijSV94vuimpIv",
        "category": "HTTP",
        "x": 405,
        "y": 360,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "HTTPService",
        "generated": true
    },
    {
        "id": "sd_A31BVKwx1DoLED06",
        "type": "Script",
        "z": "sd_qp1n840XhLHxXRUW",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.input.url =  bh.system.environment.properties.ssdURL + \"check\";",
        "functionName": "sd_A31BVKwx1DoLED06",
        "category": "Function",
        "x": 285,
        "y": 360,
        "wires": [
            [
                "sd_h6dijSV94vuimpIv"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "HTTPService",
        "generated": true
    },
    {
        "id": "sd_ZQvxl1x2JsWJRfl6",
        "type": "Navigation",
        "z": "sd_qp1n840XhLHxXRUW",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "path": "/admin-log",
        "pathMap": "",
        "pathparams": "",
        "pathparamsMap": "",
        "qparams": "",
        "qparamsMap": "",
        "qparamsArray": "",
        "resultMapping": "",
        "functionName": "sd_ZQvxl1x2JsWJRfl6",
        "category": "Navigation",
        "x": 665,
        "y": 620,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "HTTPService",
        "generated": true
    },
    {
        "id": "sd_1WvN704EINQXe9Tp",
        "type": "Switch",
        "z": "sd_qp1n840XhLHxXRUW",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "check.message",
        "propertyType": "bh.input",
        "propertyGv": "bh.input.check.message",
        "rules": [
            {
                "t": "sne",
                "v": "admin verify",
                "vt": "str",
                "gv": "\"admin verify\""
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "functionName": "sd_1WvN704EINQXe9Tp",
        "category": "Function",
        "x": 525,
        "y": 620,
        "wires": [
            [
                "sd_ZQvxl1x2JsWJRfl6"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "HTTPService",
        "generated": true
    },
    {
        "id": "sd_H9IiyjRF8pPADjfg",
        "type": "Start",
        "z": "sd_qp1n840XhLHxXRUW",
        "viewType": "client-server",
        "nodeType": "start",
        "name": "routesCheckAdmin",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "accept_bh": false,
        "functionName": "routesCheckAdmin",
        "category": "General",
        "x": 145,
        "y": 620,
        "wires": [
            [
                "sd_9Z9heiaR9PO8sL58"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "HTTPService"
    },
    {
        "id": "sd_90bSpYHitS0G75Ng",
        "type": "HttpRequest",
        "z": "sd_qp1n840XhLHxXRUW",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "get",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.input.url",
        "urlMappingObj": {
            "mapVarType": "bh.input",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": true,
        "reqBody": "",
        "reqBodyObj": {
            "mapVarType": "bh",
            "mapVarValue": ""
        },
        "resultMapping": "bh.input.check",
        "resultMappingObj": {
            "mapVarType": "bh.input",
            "mapVarValue": "check"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_90bSpYHitS0G75Ng",
        "category": "HTTP",
        "x": 385,
        "y": 620,
        "wires": [
            [
                "sd_1WvN704EINQXe9Tp"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "HTTPService",
        "generated": true
    },
    {
        "id": "sd_9Z9heiaR9PO8sL58",
        "type": "Script",
        "z": "sd_qp1n840XhLHxXRUW",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.input.url =  bh.system.environment.properties.ssdURL + \"admin\";",
        "functionName": "sd_9Z9heiaR9PO8sL58",
        "category": "Function",
        "x": 265,
        "y": 620,
        "wires": [
            [
                "sd_90bSpYHitS0G75Ng"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "HTTPService",
        "generated": true
    },
    {
        "id": "sd_Mx7fp620XUMVcfB4",
        "type": "Navigation",
        "z": "sd_qp1n840XhLHxXRUW",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "path": "/admin-log",
        "functionName": "sd_Mx7fp620XUMVcfB4",
        "category": "Navigation",
        "x": 505,
        "y": 520,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "HTTPService",
        "generated": true
    }
]
