goldbillingui/designs/pages/Auth/Login.json
[
    {
        "id": "sd_BgTKbjoN9sK5D6oX",
        "type": "tab",
        "createdDate": "2023-05-01T10:02:35.018Z",
        "label": "Login",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "LoginComponent"
    },
    {
        "id": "sd_1jblOdx9KIYkW4Aa",
        "type": "OnInit",
        "z": "sd_BgTKbjoN9sK5D6oX",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_1jblOdx9KIYkW4Aa",
        "category": "Lifecycle Events",
        "x": 30,
        "y": 30,
        "wires": [
            [
                "sd_1DC4mAk7oUshCOHw"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "LoginComponent"
    },
    {
        "id": "sd_1DC4mAk7oUshCOHw",
        "type": "PageVariables",
        "z": "sd_BgTKbjoN9sK5D6oX",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [],
        "functionName": "sd_1DC4mAk7oUshCOHw",
        "category": "Function",
        "x": 180,
        "y": 30,
        "wires": [
            [
                "sd_rPkOYGKWqUnpw3Oc",
                "sd_zBANKzNWLlWmgY7J"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "LoginComponent",
        "generated": true
    },
    {
        "id": "sd_5wjf8Z5IBC19lFTf",
        "type": "Script",
        "z": "sd_BgTKbjoN9sK5D6oX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.system.oauthService.login(\"/home/home\")",
        "functionName": "sd_5wjf8Z5IBC19lFTf",
        "category": "Function",
        "x": 405,
        "y": 180,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "LoginComponent",
        "generated": true
    },
    {
        "id": "sd_8s7S8FpHVIsxZtrG",
        "type": "PageStart",
        "z": "sd_BgTKbjoN9sK5D6oX",
        "viewType": "pages",
        "nodeType": "start",
        "name": "IDS",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "iDS",
        "category": "General",
        "x": 120,
        "y": 180,
        "wires": [
            [
                "sd_5wjf8Z5IBC19lFTf"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "LoginComponent"
    },
    {
        "id": "sd_rPkOYGKWqUnpw3Oc",
        "type": "Script",
        "z": "sd_BgTKbjoN9sK5D6oX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.input.url =  bh.system.environment.properties.ssdURL + \"check\";",
        "functionName": "sd_rPkOYGKWqUnpw3Oc",
        "category": "Function",
        "x": 345,
        "y": 80,
        "wires": [
            [
                "sd_LE0igqOTQMQYSjKK"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "LoginComponent",
        "generated": true
    },
    {
        "id": "sd_LE0igqOTQMQYSjKK",
        "type": "HttpRequest",
        "z": "sd_BgTKbjoN9sK5D6oX",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "get",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.input.url",
        "urlMappingObj": {
            "mapVarType": "bh.input",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": ""
        },
        "resultMapping": "bh.input.check",
        "resultMappingObj": {
            "mapVarType": "bh.input",
            "mapVarValue": "check"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_LE0igqOTQMQYSjKK",
        "category": "HTTP",
        "x": 545,
        "y": 80,
        "wires": [
            [
                "sd_zFuCzXVxGwejlBrl"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "LoginComponent",
        "generated": true
    },
    {
        "id": "sd_vc8PZ2vGSKwsBvpw",
        "type": "Catch",
        "z": "sd_BgTKbjoN9sK5D6oX",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "selectedNodes": [
            "sd_LE0igqOTQMQYSjKK"
        ],
        "selectCatchType": "selectednodes",
        "masternodeList": "",
        "ignoreList": "",
        "functionName": "sd_vc8PZ2vGSKwsBvpw",
        "category": "General",
        "x": 560,
        "y": 200,
        "wires": [
            [
                "sd_NUNY3C6pHxlsi724"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "LoginComponent"
    },
    {
        "id": "sd_NUNY3C6pHxlsi724",
        "type": "PageSwitch",
        "z": "sd_BgTKbjoN9sK5D6oX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "error.error.message",
        "propertyType": "bh",
        "propertyGv": "bh.error.error.message",
        "rules": [
            {
                "t": "sne",
                "v": "Session not present",
                "vt": "str",
                "gv": "\"Session not present\""
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "functionName": "sd_NUNY3C6pHxlsi724",
        "category": "Function",
        "x": 700,
        "y": 200,
        "wires": [
            [
                "sd_krmLgt9LY1N4upiA"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "LoginComponent",
        "generated": true
    },
    {
        "id": "sd_krmLgt9LY1N4upiA",
        "type": "Script",
        "z": "sd_BgTKbjoN9sK5D6oX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "history.back()\nconsole.log(\"here\")",
        "functionName": "sd_krmLgt9LY1N4upiA",
        "category": "Function",
        "x": 825,
        "y": 200,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "LoginComponent",
        "generated": true
    },
    {
        "id": "sd_zFuCzXVxGwejlBrl",
        "type": "PageSwitch",
        "z": "sd_BgTKbjoN9sK5D6oX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "check.result",
        "propertyType": "bh.input",
        "propertyGv": "bh.input.check.result",
        "rules": [
            {
                "t": "se",
                "v": "Checked",
                "vt": "str",
                "gv": "\"Checked\""
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "functionName": "sd_zFuCzXVxGwejlBrl",
        "category": "Function",
        "x": 645,
        "y": 80,
        "wires": [
            [
                "sd_8bPc8W6ORqgO79cJ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "LoginComponent",
        "generated": true
    },
    {
        "id": "sd_8bPc8W6ORqgO79cJ",
        "type": "Script",
        "z": "sd_BgTKbjoN9sK5D6oX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "history.back()\nconsole.log(\"here\")",
        "functionName": "sd_8bPc8W6ORqgO79cJ",
        "category": "Function",
        "x": 790,
        "y": 80,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "LoginComponent",
        "generated": true
    },
    {
        "id": "sd_zBANKzNWLlWmgY7J",
        "type": "UseDependency",
        "z": "sd_BgTKbjoN9sK5D6oX",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "FormGroup",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "formGroup"
                },
                "injectable": false
            },
            {
                "textIp": "FormControl",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "formControl"
                },
                "injectable": false
            },
            {
                "textIp": "Validators",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "validator"
                },
                "injectable": false
            }
        ],
        "import_all": false,
        "library": "@angular/forms",
        "serviceDesignerType": "pages",
        "functionName": "sd_zBANKzNWLlWmgY7J",
        "category": "Function",
        "x": 325,
        "y": 300,
        "wires": [
            [
                "sd_iiEL6EKSKfAeNbnY"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "LoginComponent",
        "generated": true
    },
    {
        "id": "sd_iiEL6EKSKfAeNbnY",
        "type": "Script",
        "z": "sd_BgTKbjoN9sK5D6oX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.addRegisterForm = new page.formGroup({\n    email : new page.formControl(\"\",[page.validator.required]),\n    password : new page.formControl(\"\",[page.validator.required]),\n})",
        "functionName": "sd_iiEL6EKSKfAeNbnY",
        "category": "Function",
        "x": 465,
        "y": 300,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "LoginComponent",
        "generated": true
    },
    {
        "id": "sd_ZM3khpUodjiRaEQO",
        "type": "PageStart",
        "z": "sd_BgTKbjoN9sK5D6oX",
        "viewType": "pages",
        "nodeType": "start",
        "name": "login",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "login",
        "category": "General",
        "x": 180,
        "y": 420,
        "wires": [
            [
                "sd_vJW4pWEPWjSxYoVx"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "LoginComponent"
    },
    {
        "id": "sd_vJW4pWEPWjSxYoVx",
        "type": "Script",
        "z": "sd_BgTKbjoN9sK5D6oX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.input.method = 'post';\nbh.input.url = 'login';\n\nbh.input.body = page.addRegisterForm.value",
        "functionName": "sd_vJW4pWEPWjSxYoVx",
        "category": "Function",
        "x": 305,
        "y": 420,
        "wires": [
            [
                "sd_NKzfzCET6mN5sY9s"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "LoginComponent",
        "generated": true
    },
    {
        "id": "sd_NKzfzCET6mN5sY9s",
        "type": "PageCallService",
        "z": "sd_BgTKbjoN9sK5D6oX",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_qp1n840XhLHxXRUW",
            "type": "tab",
            "createdDate": "2023-05-01T12:27:41.542Z",
            "label": "HTTPService",
            "disabled": false,
            "info": "",
            "functionSeq": 0,
            "tabType": "client"
        },
        "flow": {
            "flowId": "sd_ZjZwWFbxVVMtewVh",
            "flowName": "sd_ZjZwWFbxVVMtewVh"
        },
        "inputVariables": [
            {
                "key": "body",
                "map": true,
                "valueType": "bh.input",
                "value": "body"
            },
            {
                "key": "method",
                "map": true,
                "valueType": "bh.input",
                "value": "method"
            },
            {
                "key": "result",
                "map": true,
                "valueType": "bh",
                "value": ""
            },
            {
                "key": "url",
                "map": true,
                "valueType": "bh.input",
                "value": "url"
            },
            {
                "key": "params",
                "map": true,
                "valueType": "bh",
                "value": ""
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "input",
                "key": "result",
                "valueType": "bh",
                "value": "response",
                "mapVarName": "result",
                "localVar": "bh.response"
            }
        ],
        "serviceImportPath": "app/sd-services/HTTPService",
        "startName": "sd_ZjZwWFbxVVMtewVh",
        "inputParams": [
            "bh.input.body",
            "bh.input.method",
            null,
            "bh.input.url",
            null
        ],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_NKzfzCET6mN5sY9s",
        "category": "General",
        "x": 440,
        "y": 420,
        "wires": [
            [
                "sd_Z3qQP4G3H6DZMM9m"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "LoginComponent",
        "generated": true
    },
    {
        "id": "sd_Z3qQP4G3H6DZMM9m",
        "type": "PageSwitch",
        "z": "sd_BgTKbjoN9sK5D6oX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "response",
        "propertyType": "bh",
        "propertyGv": "bh.response",
        "rules": [
            {
                "t": "eq",
                "v": "Login successfuly completed",
                "vt": "str",
                "gv": "\"Login successfuly completed\""
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "functionName": "sd_Z3qQP4G3H6DZMM9m",
        "category": "Function",
        "x": 560,
        "y": 420,
        "wires": [
            [
                "sd_GPdkefvSvMVZvtbU"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "LoginComponent",
        "generated": true
    },
    {
        "id": "sd_GPdkefvSvMVZvtbU",
        "type": "Navigation",
        "z": "sd_BgTKbjoN9sK5D6oX",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "path": "/home/home",
        "pathMap": "",
        "pathparams": "",
        "pathparamsMap": "",
        "qparams": "",
        "qparamsMap": "",
        "qparamsArray": "",
        "resultMapping": "",
        "functionName": "sd_GPdkefvSvMVZvtbU",
        "category": "Navigation",
        "x": 680,
        "y": 420,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "LoginComponent",
        "generated": true
    }
]
