goldbillingui/designs/pages/Admin/addProducts.json
[
    {
        "id": "sd_VgDLkBG3mZ0w3mpm",
        "type": "tab",
        "createdDate": "2023-05-01T09:36:37.096Z",
        "label": "addProducts",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "addProductsComponent"
    },
    {
        "id": "sd_tTxpswopga7ioVpk",
        "type": "OnInit",
        "z": "sd_VgDLkBG3mZ0w3mpm",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "inputVariables": [],
        "localVariables": [],
        "outputVariables": [],
        "pageVariables": [],
        "functionName": "sd_tTxpswopga7ioVpk",
        "category": "Lifecycle Events",
        "x": 30,
        "y": 30,
        "wires": [
            [
                "sd_mJhP3ryubWDZJKHu"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "addProductsComponent"
    },
    {
        "id": "sd_mJhP3ryubWDZJKHu",
        "type": "PageVariables",
        "z": "sd_VgDLkBG3mZ0w3mpm",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [],
        "functionName": "sd_mJhP3ryubWDZJKHu",
        "category": "Function",
        "x": 180,
        "y": 30,
        "wires": [
            [
                "sd_8KlVdPdtKCviygvE"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "addProductsComponent",
        "generated": true
    },
    {
        "id": "sd_0CtpwUulzcTAixfA",
        "type": "PageStart",
        "z": "sd_VgDLkBG3mZ0w3mpm",
        "viewType": "pages",
        "nodeType": "start",
        "name": "postProducts",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "postProducts",
        "category": "General",
        "x": 140,
        "y": 200,
        "wires": [
            [
                "sd_FgP8zeo9Rv7VDYxy"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "addProductsComponent"
    },
    {
        "id": "sd_FgP8zeo9Rv7VDYxy",
        "type": "Script",
        "z": "sd_VgDLkBG3mZ0w3mpm",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.input.method = 'post';\nbh.input.url = 'product';\n\nbh.input.body = page.addRegisterForm.value",
        "functionName": "sd_FgP8zeo9Rv7VDYxy",
        "category": "Function",
        "x": 285,
        "y": 200,
        "wires": [
            [
                "sd_zFwZz5Hdu9AOzvFU"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "addProductsComponent",
        "generated": true
    },
    {
        "id": "sd_SByBAO3XW7kLITQy",
        "type": "UseDependency",
        "z": "sd_VgDLkBG3mZ0w3mpm",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "FormGroup",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "formGroup"
                },
                "injectable": false
            },
            {
                "textIp": "FormControl",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "formControl"
                },
                "injectable": false
            },
            {
                "textIp": "Validators",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "validator"
                },
                "injectable": false
            }
        ],
        "import_all": false,
        "library": "@angular/forms",
        "serviceDesignerType": "pages",
        "functionName": "sd_SByBAO3XW7kLITQy",
        "category": "Function",
        "x": 360,
        "y": 40,
        "wires": [
            [
                "sd_0BqQWnh6URYMXGrL"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "addProductsComponent",
        "generated": true
    },
    {
        "id": "sd_0BqQWnh6URYMXGrL",
        "type": "Script",
        "z": "sd_VgDLkBG3mZ0w3mpm",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.addRegisterForm = new page.formGroup({\n    name : new page.formControl(\"\",[page.validator.required]),\n    price : new page.formControl(\"\",[page.validator.required]),\n    description : new page.formControl(\"\",[page.validator.required]),\n    image : new page.formControl(\"\",[page.validator.required])\n})",
        "functionName": "sd_0BqQWnh6URYMXGrL",
        "category": "Function",
        "x": 525,
        "y": 40,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "addProductsComponent",
        "generated": true
    },
    {
        "id": "sd_zFwZz5Hdu9AOzvFU",
        "type": "PageCallService",
        "z": "sd_VgDLkBG3mZ0w3mpm",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_qp1n840XhLHxXRUW",
            "type": "tab",
            "createdDate": "2023-05-01T12:27:41.542Z",
            "label": "HTTPService",
            "disabled": false,
            "info": "",
            "functionSeq": 0,
            "tabType": "client"
        },
        "flow": {
            "flowId": "sd_ZjZwWFbxVVMtewVh",
            "flowName": "sd_ZjZwWFbxVVMtewVh"
        },
        "inputVariables": [
            {
                "key": "body",
                "map": true,
                "valueType": "bh.input",
                "value": "body"
            },
            {
                "key": "method",
                "map": true,
                "valueType": "bh.input",
                "value": "method"
            },
            {
                "key": "result",
                "map": true,
                "valueType": "bh",
                "value": ""
            },
            {
                "key": "url",
                "map": true,
                "valueType": "bh.input",
                "value": "url"
            },
            {
                "key": "params",
                "map": true,
                "valueType": "bh",
                "value": ""
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "input",
                "key": "result",
                "valueType": "bh.input",
                "value": "result",
                "mapVarName": "result",
                "localVar": "bh.input.result"
            }
        ],
        "serviceImportPath": "app/sd-services/HTTPService",
        "startName": "sd_ZjZwWFbxVVMtewVh",
        "inputParams": [
            "bh.input.body",
            "bh.input.method",
            null,
            "bh.input.url",
            null
        ],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_zFwZz5Hdu9AOzvFU",
        "category": "General",
        "x": 440,
        "y": 200,
        "wires": [
            [
                "sd_aHtlgcYBJz2ZCw7X"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "addProductsComponent",
        "generated": true
    },
    {
        "id": "sd_UjJceHWhdbnBRxK8",
        "type": "PageStart",
        "z": "sd_VgDLkBG3mZ0w3mpm",
        "viewType": "pages",
        "nodeType": "start",
        "name": "getFile",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "image",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "getFile",
        "category": "General",
        "x": 145,
        "y": 340,
        "wires": [
            [
                "sd_mafCmhFZ5jwllPm9"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "addProductsComponent"
    },
    {
        "id": "sd_mafCmhFZ5jwllPm9",
        "type": "Script",
        "z": "sd_VgDLkBG3mZ0w3mpm",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.selectedFile = bh.input.image.target.files[0];\n\nconst reader = new FileReader();\nreader.onload = () => {\n  page.imageSrc = reader.result;\n\n  const fileString = reader.result.toString();\n\n  // Upload the file string to Cloudinary\n  // this.uploadToCloudinary(fileString);\n\n  page.addRegisterForm.controls.image.setValue(fileString);\n  \n};\nreader.readAsDataURL(page.selectedFile);",
        "functionName": "sd_mafCmhFZ5jwllPm9",
        "category": "Function",
        "x": 285,
        "y": 340,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "addProductsComponent",
        "generated": true
    },
    {
        "id": "sd_8KlVdPdtKCviygvE",
        "type": "PageCallService",
        "z": "sd_VgDLkBG3mZ0w3mpm",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_qp1n840XhLHxXRUW",
            "type": "tab",
            "createdDate": "2023-05-01T12:27:41.542Z",
            "label": "HTTPService",
            "disabled": false,
            "info": "",
            "functionSeq": 0,
            "tabType": "client"
        },
        "flow": {
            "flowId": "sd_H9IiyjRF8pPADjfg",
            "flowName": "routesCheckAdmin"
        },
        "inputVariables": [],
        "outputMapping": [],
        "serviceImportPath": "app/sd-services/HTTPService",
        "startName": "routesCheckAdmin",
        "inputParams": [],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_8KlVdPdtKCviygvE",
        "category": "General",
        "x": 265,
        "y": 40,
        "wires": [
            [
                "sd_SByBAO3XW7kLITQy"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "addProductsComponent",
        "generated": true
    },
    {
        "id": "sd_aHtlgcYBJz2ZCw7X",
        "type": "Navigation",
        "z": "sd_VgDLkBG3mZ0w3mpm",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "pathMap": {
            "type": "str",
            "value": "/admin/home"
        },
        "functionName": "sd_aHtlgcYBJz2ZCw7X",
        "category": "Navigation",
        "x": 600,
        "y": 200,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "addProductsComponent",
        "generated": true
    }
]
