goldbillingui/designs/pages/Admin/AdminLogin.json
[
    {
        "id": "sd_1sfflrc34362oUKn",
        "type": "tab",
        "createdDate": "2023-05-06T10:20:26.662Z",
        "label": "AdminLogin",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "AdminLoginComponent"
    },
    {
        "id": "sd_1HixnkVCj7Kc2tTL",
        "type": "OnInit",
        "z": "sd_1sfflrc34362oUKn",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_1HixnkVCj7Kc2tTL",
        "category": "Lifecycle Events",
        "x": 30,
        "y": 30,
        "wires": [
            [
                "sd_d4kvYbuJJ23bxlmt"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "AdminLoginComponent"
    },
    {
        "id": "sd_d4kvYbuJJ23bxlmt",
        "type": "PageVariables",
        "z": "sd_1sfflrc34362oUKn",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [],
        "functionName": "sd_d4kvYbuJJ23bxlmt",
        "category": "Function",
        "x": 180,
        "y": 30,
        "wires": [
            [
                "sd_ogikCNIOvjoPApyB"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "AdminLoginComponent",
        "generated": true
    },
    {
        "id": "sd_zYjhTRgtc372bCcL",
        "type": "PageStart",
        "z": "sd_1sfflrc34362oUKn",
        "viewType": "pages",
        "nodeType": "start",
        "name": "adminLogin",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "adminLogin",
        "category": "General",
        "x": 180,
        "y": 180,
        "wires": [
            [
                "sd_Itbt74Y7WsxYYb7i"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "AdminLoginComponent"
    },
    {
        "id": "sd_ogikCNIOvjoPApyB",
        "type": "UseDependency",
        "z": "sd_1sfflrc34362oUKn",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "FormGroup",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "formGroup"
                },
                "injectable": false
            },
            {
                "textIp": "FormControl",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "formControl"
                },
                "injectable": false
            },
            {
                "textIp": "Validators",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "validator"
                },
                "injectable": false
            }
        ],
        "import_all": false,
        "library": "@angular/forms",
        "serviceDesignerType": "pages",
        "functionName": "sd_ogikCNIOvjoPApyB",
        "category": "Function",
        "x": 325,
        "y": 40,
        "wires": [
            [
                "sd_5rnU78cH4LvEkRII"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "AdminLoginComponent",
        "generated": true
    },
    {
        "id": "sd_5rnU78cH4LvEkRII",
        "type": "Script",
        "z": "sd_1sfflrc34362oUKn",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.addRegisterForm = new page.formGroup({\n    email : new page.formControl(\"\",[page.validator.required]),\n    password : new page.formControl(\"\",[page.validator.required]),\n})",
        "functionName": "sd_5rnU78cH4LvEkRII",
        "category": "Function",
        "x": 465,
        "y": 40,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "AdminLoginComponent",
        "generated": true
    },
    {
        "id": "sd_Itbt74Y7WsxYYb7i",
        "type": "Script",
        "z": "sd_1sfflrc34362oUKn",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.input.method = 'post';\nbh.input.url = 'admin/login';\n\nbh.input.body = page.addRegisterForm.value",
        "functionName": "sd_Itbt74Y7WsxYYb7i",
        "category": "Function",
        "x": 305,
        "y": 180,
        "wires": [
            [
                "sd_gxD8icNmeNP9E7Ub"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "AdminLoginComponent",
        "generated": true
    },
    {
        "id": "sd_gxD8icNmeNP9E7Ub",
        "type": "PageCallService",
        "z": "sd_1sfflrc34362oUKn",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_qp1n840XhLHxXRUW",
            "type": "tab",
            "createdDate": "2023-05-01T12:27:41.542Z",
            "label": "HTTPService",
            "disabled": false,
            "info": "",
            "functionSeq": 0,
            "tabType": "client"
        },
        "flow": {
            "flowId": "sd_ZjZwWFbxVVMtewVh",
            "flowName": "sd_ZjZwWFbxVVMtewVh"
        },
        "inputVariables": [
            {
                "key": "body",
                "map": true,
                "valueType": "bh",
                "value": "input.body"
            },
            {
                "key": "method",
                "map": true,
                "valueType": "bh",
                "value": "input.method"
            },
            {
                "key": "result",
                "map": true,
                "valueType": "bh",
                "value": ""
            },
            {
                "key": "url",
                "map": true,
                "valueType": "bh",
                "value": "input.url"
            },
            {
                "key": "params",
                "map": true,
                "valueType": "bh",
                "value": ""
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "input",
                "key": "result",
                "valueType": "bh",
                "value": "response",
                "mapVarName": "result",
                "localVar": "bh.response"
            }
        ],
        "serviceImportPath": "app/sd-services/HTTPService",
        "startName": "sd_ZjZwWFbxVVMtewVh",
        "inputParams": [
            "bh.input.body",
            "bh.input.method",
            null,
            "bh.input.url",
            null
        ],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_gxD8icNmeNP9E7Ub",
        "category": "General",
        "x": 440,
        "y": 180,
        "wires": [
            [
                "sd_nGVubRJJ4wwKbfFQ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "AdminLoginComponent",
        "generated": true
    },
    {
        "id": "sd_nGVubRJJ4wwKbfFQ",
        "type": "PageSwitch",
        "z": "sd_1sfflrc34362oUKn",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "response.message",
        "propertyType": "bh",
        "propertyGv": "bh.response.message",
        "rules": [
            {
                "t": "eq",
                "v": "Login successfuly completed",
                "vt": "str",
                "gv": "\"Login successfuly completed\""
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "functionName": "sd_nGVubRJJ4wwKbfFQ",
        "category": "Function",
        "x": 560,
        "y": 180,
        "wires": [
            [
                "sd_ueYHqqadsxMYAkfU"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "AdminLoginComponent",
        "generated": true
    },
    {
        "id": "sd_ueYHqqadsxMYAkfU",
        "type": "Navigation",
        "z": "sd_1sfflrc34362oUKn",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "pathMap": {
            "type": "str",
            "value": "/admin/home"
        },
        "functionName": "sd_ueYHqqadsxMYAkfU",
        "category": "Navigation",
        "x": 680,
        "y": 180,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "AdminLoginComponent",
        "generated": true
    }
]
