goldbillingui/designs/pages/Staff/ProductDetails/Details.json
[
    {
        "id": "sd_FmtEW0SPH5Nubwb3",
        "type": "tab",
        "createdDate": "2023-04-27T17:05:25.186Z",
        "label": "Details",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "DetailsComponent"
    },
    {
        "id": "sd_ilZ4tlQP3zwsX014",
        "type": "OnInit",
        "z": "sd_FmtEW0SPH5Nubwb3",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "inputVariables": [],
        "localVariables": [],
        "outputVariables": [],
        "pageVariables": [],
        "functionName": "sd_ilZ4tlQP3zwsX014",
        "category": "Lifecycle Events",
        "x": 245,
        "y": 40,
        "wires": [
            [
                "sd_C5qDvc31cazOGMeg"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "DetailsComponent"
    },
    {
        "id": "sd_C5qDvc31cazOGMeg",
        "type": "PageVariables",
        "z": "sd_FmtEW0SPH5Nubwb3",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [],
        "functionName": "sd_C5qDvc31cazOGMeg",
        "category": "Function",
        "x": 395,
        "y": 40,
        "wires": [
            [
                "sd_OjjDr811nmDw8T2H"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "DetailsComponent",
        "generated": true
    },
    {
        "id": "sd_zHJ1ybUSfbfvUmr8",
        "type": "PageStart",
        "z": "sd_FmtEW0SPH5Nubwb3",
        "viewType": "pages",
        "nodeType": "start",
        "name": "navigateToCart",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "navigateToCart",
        "category": "General",
        "x": 185,
        "y": 440,
        "wires": [
            [
                "sd_AsOyZBggnoZcRyca"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "DetailsComponent"
    },
    {
        "id": "sd_HkC2vCC0RoXgSMLX",
        "type": "PageStart",
        "z": "sd_FmtEW0SPH5Nubwb3",
        "viewType": "pages",
        "nodeType": "start",
        "name": "navigateToScan",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "navigateToScan",
        "category": "General",
        "x": 440,
        "y": 210,
        "wires": [
            [
                "sd_M53uKBvgvycvgMEo"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "DetailsComponent"
    },
    {
        "id": "sd_OjjDr811nmDw8T2H",
        "type": "Storage",
        "z": "sd_FmtEW0SPH5Nubwb3",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "localStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "tempProduct"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "product"
        },
        "functionName": "sd_OjjDr811nmDw8T2H",
        "category": "Storage",
        "x": 495,
        "y": 50,
        "wires": [
            [
                "sd_hP2lgWesuM87hk1S"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "DetailsComponent",
        "generated": true
    },
    {
        "id": "sd_kkbtaBoytpeRS7mq",
        "type": "Script",
        "z": "sd_FmtEW0SPH5Nubwb3",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log(page.product)",
        "functionName": "sd_kkbtaBoytpeRS7mq",
        "category": "Function",
        "x": 720,
        "y": 110,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "DetailsComponent",
        "generated": true
    },
    {
        "id": "sd_M53uKBvgvycvgMEo",
        "type": "Storage",
        "z": "sd_FmtEW0SPH5Nubwb3",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "removeItem",
        "storageType": "localStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "tempProduct"
        },
        "value": {},
        "resultMapping": {},
        "functionName": "sd_M53uKBvgvycvgMEo",
        "category": "Storage",
        "x": 540,
        "y": 210,
        "wires": [
            [
                "sd_zq3TPINBzb3I5mFI"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "DetailsComponent",
        "generated": true
    },
    {
        "id": "sd_zq3TPINBzb3I5mFI",
        "type": "Navigation",
        "z": "sd_FmtEW0SPH5Nubwb3",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "path": "/home/scanner",
        "functionName": "sd_zq3TPINBzb3I5mFI",
        "category": "Navigation",
        "x": 1325,
        "y": 160,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "DetailsComponent",
        "generated": true
    },
    {
        "id": "sd_hP2lgWesuM87hk1S",
        "type": "PageSwitch",
        "z": "sd_FmtEW0SPH5Nubwb3",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "product",
        "propertyType": "this.page",
        "propertyGv": "this.page.product",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_hP2lgWesuM87hk1S",
        "category": "Function",
        "x": 575,
        "y": 50,
        "wires": [
            [
                "sd_zq3TPINBzb3I5mFI"
            ],
            [
                "sd_kkbtaBoytpeRS7mq"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "DetailsComponent",
        "generated": true
    },
    {
        "id": "sd_AsOyZBggnoZcRyca",
        "type": "Storage",
        "z": "sd_FmtEW0SPH5Nubwb3",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "localStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "tempProduct"
        },
        "value": {},
        "resultMapping": {
            "type": "bh.local",
            "value": "product"
        },
        "functionName": "sd_AsOyZBggnoZcRyca",
        "category": "Storage",
        "x": 265,
        "y": 440,
        "wires": [
            [
                "sd_w8FiLxiw9gjejall"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "DetailsComponent",
        "generated": true
    },
    {
        "id": "sd_w8FiLxiw9gjejall",
        "type": "Storage",
        "z": "sd_FmtEW0SPH5Nubwb3",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "localStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "cartItems"
        },
        "value": {},
        "resultMapping": {
            "type": "bh.local",
            "value": "cartItems"
        },
        "functionName": "sd_w8FiLxiw9gjejall",
        "category": "Storage",
        "x": 345,
        "y": 440,
        "wires": [
            [
                "sd_Z5SDIQ0WPH8PbfKF"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "DetailsComponent",
        "generated": true
    },
    {
        "id": "sd_Z5SDIQ0WPH8PbfKF",
        "type": "PageSwitch",
        "z": "sd_FmtEW0SPH5Nubwb3",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "cartItems",
        "propertyType": "bh.local",
        "propertyGv": "bh.local.cartItems",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_Z5SDIQ0WPH8PbfKF",
        "category": "Function",
        "x": 525,
        "y": 440,
        "wires": [
            [
                "sd_827lktre26rPPUkV"
            ],
            [
                "sd_WxGsb2Imn6kn0oj2"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "DetailsComponent",
        "generated": true
    },
    {
        "id": "sd_vILXnNzjV2LueKta",
        "type": "Storage",
        "z": "sd_FmtEW0SPH5Nubwb3",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "setItem",
        "storageType": "localStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "cartItems"
        },
        "value": {
            "type": "bh.local",
            "value": "product"
        },
        "resultMapping": {},
        "functionName": "sd_vILXnNzjV2LueKta",
        "category": "Storage",
        "x": 705,
        "y": 320,
        "wires": [
            [
                "sd_zq3TPINBzb3I5mFI"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "DetailsComponent",
        "generated": true
    },
    {
        "id": "sd_827lktre26rPPUkV",
        "type": "Script",
        "z": "sd_FmtEW0SPH5Nubwb3",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.product=[bh.local.product]",
        "functionName": "sd_827lktre26rPPUkV",
        "category": "Function",
        "x": 620,
        "y": 380,
        "wires": [
            [
                "sd_vILXnNzjV2LueKta"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "DetailsComponent",
        "generated": true
    },
    {
        "id": "sd_cebPGqmlr2QGN2ze",
        "type": "Storage",
        "z": "sd_FmtEW0SPH5Nubwb3",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "setItem",
        "storageType": "localStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "cartItems"
        },
        "value": {
            "type": "bh.local",
            "value": "cartItems"
        },
        "resultMapping": {},
        "functionName": "sd_cebPGqmlr2QGN2ze",
        "category": "Storage",
        "x": 985,
        "y": 520,
        "wires": [
            [
                "sd_zq3TPINBzb3I5mFI"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "DetailsComponent",
        "generated": true
    },
    {
        "id": "sd_8QjBnTQndrRB7vVA",
        "type": "Script",
        "z": "sd_FmtEW0SPH5Nubwb3",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log(bh.local.cartItems)\nbh.local.cartItems.push(bh.local.product)",
        "functionName": "sd_8QjBnTQndrRB7vVA",
        "category": "Function",
        "x": 865,
        "y": 520,
        "wires": [
            [
                "sd_cebPGqmlr2QGN2ze"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "DetailsComponent",
        "generated": true
    },
    {
        "id": "sd_WxGsb2Imn6kn0oj2",
        "type": "Script",
        "z": "sd_FmtEW0SPH5Nubwb3",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.cartItems\nbh.pageInput.product\n\nbh.local.exist=false;\nbh.local.cartItems.map(product=>{\n    if(product._id==bh.local.product._id){\n        bh.local.exist=true;\n    }\n})",
        "functionName": "sd_WxGsb2Imn6kn0oj2",
        "category": "Function",
        "x": 625,
        "y": 500,
        "wires": [
            [
                "sd_kFb5kk5Qe4w6ugXz"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "DetailsComponent",
        "generated": true
    },
    {
        "id": "sd_kFb5kk5Qe4w6ugXz",
        "type": "PageSwitch",
        "z": "sd_FmtEW0SPH5Nubwb3",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "exist",
        "propertyType": "bh.local",
        "propertyGv": "bh.local.exist",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_kFb5kk5Qe4w6ugXz",
        "category": "Function",
        "x": 745,
        "y": 500,
        "wires": [
            [
                "sd_zq3TPINBzb3I5mFI"
            ],
            [
                "sd_8QjBnTQndrRB7vVA"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "DetailsComponent",
        "generated": true
    }
]
